.nan-tb{
    border-bottom: 4px solid #4696e6;
}
.nan-bg{
	background-color: #4696e6;
}
.nan-color{
	color: #4696e6;
}
.banner-c{
	color: #009891 !important;
}
.lv-bg{
	background-color: #009891;
}
.nan-border{
	background-color: #fff !important;
	border: 1px solid #4696e6 !important;
	color: #4696e6 !important;
}