*
{
    margin:0;
    padding:0;
}
body
{
    width:100%;
}
.remind
{
    position: fixed;
    width: 96%;
    left:0;
    right: 0;
    bottom:0;
    max-width: 460px;
    min-width: 320px;
    margin:0 auto;
    background:url(../img/bg.png) repeat-x;
    font-size: 14px;
    color: white;
    line-height: 22px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px 5px 0px 0px;
}
.remind p
{
    width:66%;
    float: left;
    padding-left: 15px;
}
.remind p em
{
    color: rgb(247,197,46);
    font-style: inherit;
}
.remind span
{
    display: block;
    position: absolute;
    right:15px;
    top:32%;
    width: 60px;
    height: 32px;
    background: url(../img/btn.png) no-repeat;
    background-size: 100%;
}